canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    width: 80%;
    height: 80%;
}

.logo {
    width: 30%;
    margin: 5%;
    display: block;
    align-self: center;
}

.predict {
    display: block;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}