canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 80%;
    height: 80%;
}

.logo {
    height: 20vh;
    display: block;
    align-self: center;
}

.predict {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: hidden;
}